

<div class="row me-3 ms-3 mb-3">
    <div class="col">
        <button class="btn btn-danger shadow float" *ngIf="results" (click)="clearSearch()"><i class="fa-solid fa-xmark"></i></button>
        <input type="text" class="form-control shadow float w-50" [ngClass]="results ? 'me-2' : ''" 
        (keyup)="search($event)" placeholder="Search Notes"
        #searchText>
        
        
    </div>
</div>

<app-vehicle-note-card [noteData]="searchResults" *ngIf="results" page="passdown"></app-vehicle-note-card>

<div *ngIf="searchResults.length <= 1 && searchText.value != ''"><p>No results.</p></div>