.vehicleLink {
    float: right;
    cursor: pointer;
}

.passdownNote {
    background-color: #abd699;
    color: #abd699;
}

.cursor {
    cursor: pointer;
}

.float {
    float: right;
}

.icon {
    display: inline-block;
    vertical-align: middle;
}