<div class="card shadow-sm mb-2">
  <div class="card-header bigger"><span class="cursor me-2" (click)="navBack()"><i class="fa-solid fa-caret-left fa-lg"></i></span>
    <span class="cursor" (click)="goToPassdownDate()">{{ data.date }}</span> <span class="cursor ms-2" (click)="navNext()"><i class="fa-solid fa-caret-right fa-lg"></i></span>

    <span class="menuLink" [matMenuTriggerFor]="passdownMenu"><i class="fa-solid fa-ellipsis-vertical"></i></span>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-1">

        <div class="card shadow-sm bg-danger mb-2 p-2 text-center align-middle">
          <span><i class="fa-solid fa-phone-flip fa-lg"></i></span>
        </div>
      </div>
      <div class="col-md-1 w-auto" *ngFor="let drivers of data.off_time; let i = index">
        <div class="card mb-2 p-2 shadow-sm text-center cursor"
          matTooltip="{{ drivers.note }} ({{ drivers.user }} {{ drivers.timestamp }})"
          [matTooltipClass]="[drivers.type == 'vacation' ? 'btn btn-success btn-sm' : '', drivers.type == 'sick' ? 'btn btn-danger btn-sm' : '', drivers.type == 'other' ? 'btn btn-primary btn-sm' : '']"
          [matMenuTriggerFor]="calloutMenu"
          [matMenuTriggerData]="{id: drivers.driverId, date: data.date, routeId: drivers.routeId, driverIndex: i}">

          <span *ngIf="drivers.routeId">{{ drivers.driver }} ({{drivers.route}})</span>
          <span *ngIf="!drivers.routeId">{{ drivers.driver }}</span>
        </div>
      </div>
      <div class="col-md-1">

        <div class="card shadow-sm mb-2 p-2 text-center align-middle cursor" (click)="addToPassdown('off')"
          matTooltip="Add Driver Off Time">
          <span><i class="fa-solid fa-square-plus fa-lg"></i></span>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-md-1">

        <div class="card shadow-sm bg-success mb-2 p-2 text-center align-middle">
          <span><i class="fa-solid fa-shield fa-lg"></i></span>
        </div>
      </div>
      <div class="col-md-1 w-auto" *ngFor="let drivers of data.protection; let i = index">
        <div class="card mb-2 p-2 shadow-sm text-center cursor" [matMenuTriggerFor]="protectionMenu"
          [matMenuTriggerData]="{id: drivers.driverId, date: data.date, protectionId: drivers.uid, driverIndex: i}"
          [ngClass]="drivers.confirmed != '' ? 'text-white bg-success' : ''"
          [matTooltip]="drivers.confirmed != '' ? 'Confirmed by: ' + drivers.confirmedBy + ' @ ' + drivers.confirmed + ' (' + drivers.note + ')' : 'Added by: ' + drivers.user + ' @ ' + drivers.timestamp + ' (' + drivers.note + ')'"
          [matTooltipClass]="drivers.confirmed != '' ? 'btn btn-success btn-sm' : 'btn btn-danger btn-sm'">
          {{ drivers.driver }} ({{drivers.route}})
        </div>
      </div>
      <div class="col-md-1">

        <div class="card shadow-sm mb-2 p-2 text-center align-middle cursor" (click)="addToPassdown('protection')"
          matTooltip="Add Driver Protection">
          <span><i class="fa-solid fa-square-plus fa-lg"></i></span>
        </div>
      </div>
    </div>




    <div class="row">
      <div class="col-md-1">

        <div class="card shadow-sm bg-warning mb-2 p-2 text-center align-middle">
          <span><i class="fa-solid fa-wrench fa-lg"></i></span>
        </div>
      </div>
      <div class="col-md-1 w-auto" *ngFor="let vehicles of data.pm; let i = index" [matMenuTriggerFor]="vehicleMenu"
        [matMenuTriggerData]="{id: vehicles.vehicleId, date: data.date}">
        <div class="card mb-2 p-2 shadow-sm text-center cursor">
          {{ vehicles.vehicle }}
        </div>
      </div>
      <div class="col-md-1">

        <div class="card shadow-sm mb-2 p-2 text-center align-middle cursor" (click)="addToPassdown('pm')"
          matTooltip="Add Vehicle Preventative Maintenance">
          <span><i class="fa-solid fa-square-plus fa-lg"></i></span>
        </div>
      </div>
    </div>


    <!-- PINNED NOTES -->
    <!-- <div class="row"> -->
    <!-- <div class="col-3 p-1" *ngFor="let notes of pinnedNotes; let i = index">
        <div class="card mb-2 shadow-sm" [class]="notes.style ? notes.style : 'text-white bg-warning'">
          <div class="card-header">
            <span class="me-1"><i class="fas fa-thumbtack"></i></span>
            <span class="menuLink" (click)="closePinned(i)" matTooltip="Close note"><i
                class="fa-solid fa-xmark fa-lg"></i></span>
          </div>
          <div class="card-body pb-2 pt-2">
            <p class="card-text">{{ notes.note }}</p>

            <div class="text-end">
              <p class="mb-0"><small><i><u [matTooltip]="notes.timestamp" class="cursor">{{ notes.timestamp | timeAgo }}
                      by {{ notes.user }}</u></i></small>
                <span *ngIf="notes.userId == whoAmI()" class="ms-3 cursor" (click)="deletePinned(notes._id)"
                  matTooltip="Delete note"><i class="fa-solid fa-trash"></i></span>
              </p>
            </div>
          </div>
        </div>
      </div> -->

    <app-vehicle-note-card [noteData]="pinnedNotes" noteType="pinned"></app-vehicle-note-card>
    <app-vehicle-note-card [noteData]="data.note" noteType="passdown" [passdownDate]="data.date">
    </app-vehicle-note-card>
  </div>


  <!-- <div class="col-3 p-1" *ngFor="let notes of data.note; let i = index">
        <div class="card mb-2 shadow-sm" [class]="notes.style ? notes.style : 'text-white bg-warning'">
          <div class="card-body pb-2 pt-2">
            <p class="card-text">{{ notes.note }}</p>

            
            <div class="card-text mb-1 p-1 border-bottom border-dark cursor"
              *ngFor="let comment of notes.comment, let index = index"
              matTooltip="{{comment.user}} {{comment.timestamp | timeAgo}}" [matMenuTriggerFor]="deleteCommentMenu"
              [matMenuTriggerData]="{id: comment.commentId, date: data.date, userId: comment.userId}">
              <div>
                <span class="badge border bg-light text-dark p-1 me-2 font-weight-bold">{{ comment.user | slice:0:1
                  }}</span>
                <small>{{ comment.comment }}</small>
              </div>


            </div>

            

            <div class="card-text" [id]="'comments' + i" *ngIf="showComment === i">
              <div class="mb-1">
                <textarea class="form-control" rows="3" #commentBox
                  (keyup.enter)="addComment(notes.noteId, commentBox.value)"></textarea>
              </div>
              <div class="text-end mb-1">
                <button class="btn btn-secondary btn-sm" (click)="addComment(notes.noteId, commentBox.value)"><small><i
                      class="fa-solid fa-check"></i></small></button>
              </div>
            </div>

            <div class="text-end">

              <p class="mb-0"><small><i><u [matTooltip]="notes.timestamp" class="cursor">{{ notes.timestamp | timeAgo }}
                      by {{ notes.user }}</u></i><b *ngIf="notes.edited" class="ms-2 cursor"
                    matTooltip="Note was edited.">*</b></small>

                <span class="ms-3 cursor" (click)="showCommentBox(i)" matTooltip="Add Comment">
                  <i class="fa-solid fa-comment"></i>
                </span>
                <span *ngIf="notes.userId == whoAmI()" class="ms-3 cursor"
                  (click)="editNote(notes.noteId, notes.style, notes.note, notes.comment)" matTooltip="Edit note"><i
                    class="fa-solid fa-pencil"></i></span>

                <span *ngIf="notes.userId == whoAmI()" class="ms-3 cursor" (click)="deleteNote(data.date, notes.noteId)"
                  matTooltip="Delete note"><i class="fa-solid fa-trash"></i></span>
              </p>
            </div>
          </div>
        </div>
      </div> -->
  <div class="d-flex flex-wrap justify-content-center">
    <div class="row">
      <div class="col-sm-1 col-md-1 col-lg-2 col-xxl-1 m-1" style="width: 100px">
        <div class="card shadow-sm">
          <div class="card-body text-center m-0 cursor" (click)="addToPassdown('note')" matTooltip="Add Passdown Note">
            <p class="card-text m-0"><i class="fa-solid fa-square-plus fa-lg"></i></p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- </div> -->



</div>


<mat-menu #calloutMenu="matMenu">
  <ng-template matMenuContent let-id="id" let-date="date" let-routeId="routeId" let-driverIndex="driverIndex">
    <button mat-menu-item routerLink="../../manage/user/{{id}}"><i class="fa-solid fa-person fa-sm"></i> <span
        class="menuLink"><small>Manage Driver</small></span></button>
    <button mat-menu-item routerLink="../../manage/route/{{routeId}}"><i class="fa-solid fa-route"></i> <span
        class="menuLink"><small>Manage Route</small></span></button>
      <button mat-menu-item (click)="showCalendar('off', driverIndex)"><i class="fa-solid fa-clone"></i> <span
        class="menuLink"><small>Copy To...</small></span></button>
        <button mat-menu-item *ngIf="lastCopyDate" (click)="repeatCopy('off', driverIndex)"><i class="fa-solid fa-clone me-1"></i> <span
          class="menuLink"><small>Repeat Copy to {{lastCopyDate}}</small></span></button>
          <button mat-menu-item (click)="deleteCallOut(date, id)"><i class="fa-solid fa-trash fa-sm"></i> <span
            class="menuLink"><small>Delete</small></span></button>
  </ng-template>
</mat-menu>

<mat-menu #protectionMenu="matMenu">
  <ng-template matMenuContent let-id="id" let-date="date" let-protection="protectionId" let-driverIndex="driverIndex">
    <button mat-menu-item (click)="confirmProtection(protection)"><i class="fa-solid fa-check-double fa-sm"></i> <span
        class="menuLink"><small>Confirm</small></span></button>
    <button mat-menu-item routerLink="../../manage/user/{{id}}"><i class="fa-solid fa-person fa-sm"></i> <span
        class="menuLink"><small>Manage Driver</small></span></button>
    <button mat-menu-item (click)="doSomething(id)"><i class="fa-solid fa-route fa-sm"></i> <span
        class="menuLink"><small>Manage Route</small></span></button>
        <button mat-menu-item (click)="showCalendar('protection', driverIndex)"><i class="fa-solid fa-clone"></i> <span
          class="menuLink"><small>Copy To...</small></span></button>
          <button mat-menu-item *ngIf="lastCopyDate" (click)="repeatCopy('protection', driverIndex)"><i class="fa-solid fa-clone me-1"></i> <span
            class="menuLink"><small>Repeat Copy to {{lastCopyDate}}</small></span></button>
    <button mat-menu-item (click)="deleteProtection(date, id)"><i class="fa-solid fa-trash fa-sm"></i> <span
        class="menuLink"><small>Delete</small></span></button>
  </ng-template>
</mat-menu>

<mat-menu #vehicleMenu="matMenu">
  <ng-template matMenuContent let-id="id" let-date="date">
    <button mat-menu-item routerLink="../../view/vehicle/{{id}}"><i class="fa-solid fa-bus fa-sm"></i> <span
        class="menuLink"><small>Details</small></span></button>
    <button mat-menu-item (click)="deletePm(date, id)"><i class="fa-solid fa-trash fa-sm"></i> <span
        class="menuLink"><small>Delete</small></span></button>
  </ng-template>
</mat-menu>

<mat-menu #passdownMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item (click)="addToPassdown('off')">Add Driver Off Time</button>
    <button mat-menu-item (click)="addToPassdown('protection')">Add Driver Protection</button>
    <button mat-menu-item (click)="addToPassdown('pm')">Add PM</button>
    <button mat-menu-item (click)="addToPassdown('note')">Add Note</button>
    <button mat-menu-item (click)="showHistoryDialog()">View History</button>
  </ng-template>
</mat-menu>

<mat-menu #deleteCommentMenu="matMenu">
  <ng-template matMenuContent let-id="id" let-userId="userId" let-date="date">
    <button mat-menu-item (click)="deleteComment(id,date,userId)" *ngIf="userId === whoAmI()"><i
        class="fa-solid fa-trash fa-sm"></i> <span class="menuLink"><small>Delete</small></span></button>
    <button mat-menu-item *ngIf="userId != whoAmI()">No options available.</button>
  </ng-template>
</mat-menu>