.menuLink {
    float: right;
    cursor: pointer;
}


.modal-backdrop {
    z-index: -1;
  }

.fix {
    z-index: 100;
}

.cursor {
    cursor: pointer;
}

.nocursor {
    cursor: default;
}

.fixMargin {
    bottom: -20px;
}

.listy li:nth-child(3) {
    display: inline;
}
.circle {
    background: #456BD9;
    border-radius: 50%;
    color: #fff;
    height: 5em;
    position: relative;
    width: 5em;
  }

  .bigger {
      font-size: larger;
  }