<ngx-spinner></ngx-spinner>

<div class="row m-3">
    <div class="col-md">
        <form [formGroup]="userForm">
            

              

            <div class="form-group mb-2">
                <label for="exampleInputEmail1">Email address <span style="color: red">(required)</span></label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  formControlName="email">
                
            </div>

            <div class="form-group mb-2">
                <label for="exampleInputEmail1">Company</label>
                <select class="form-control"  formControlName="company">
                    <option value="wdu">WDU</option>
                </select>
              </div>

              <div class="form-group mb-2">
                <label for="site">Site <span style="color: red">(required)</span></label>
                <select class="form-control"  formControlName="site">
                    <option value="genentech">Genentech</option>
                </select>
              </div>

              <div class="form-group mb-2">
                <label for="role">User Role <span style="color: red">(required)</span></label>
                <select class="form-control"  formControlName="role">
                    <option value="10" selected disabled>Please select a specific role for the user.</option>
                    <option value="admin">Admin</option>
                    <option value="driver">Driver</option>
                    <option value="2">Ops Mgr</option>
                    <option value="3">Dispatch</option>
                    <option value="4">Fleet Mgr</option>
                    <option value="5">Safety Mgr</option>
                </select>
              </div>

              <div class="form-group mb-2">
                <label for="firsName">First Name <span style="color: red">(required)</span></label>
                <input type="text" class="form-control" id="firstName" aria-describedby="Add Username" formControlName="firstName">
              </div>

              <div class="form-group mb-2">
                <label for="lastName">Last Name <span style="color: red">(required)</span></label>
                <input type="text" class="form-control" id="lastName" aria-describedby="Add Username" formControlName="lastName">
              </div>

              <div class="form-group mb-2">
                <label for="nickname">Nickname</label>
                <input type="text" class="form-control" id="nickname" aria-describedby="Add Username" formControlName="nickname">
                <small>Nickname will be shown next to First Name in dashboard.</small>
              </div>

              <div class="form-group mb-2">
                <label for="phone">Phone Number</label>
                <input type="text" class="form-control" id="phone" aria-describedby="Add Username" formControlName="phone">
              </div>
              
              <div class="text-center" [ngClass]="!editMode ? 'hide' : ''">

                <div class="example-container" >
                  <h2>Known Routes</h2>
                  <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="knownRoutes"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of knownRoutes" cdkDrag>{{item.routeShortname}}</div>
    </div>
  </div>
  
  <div class="example-container">
    <h2>Available Routes</h2>
  
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="availableRoutes"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of availableRoutes" cdkDrag>{{item.routeShortname}}</div>
    </div>
                </div>

              </div>
              





            
              <div class="text-center mt-2">
                <button type="submit" class="btn shadow btn-lg" (click)="submit()" [class]="deleteMode? 'btn-danger':'btn-primary'"><i class="fas fa-paper-plane" *ngIf="!deleteMode"></i>
                    <i class="far fa-trash-alt" *ngIf="deleteMode"></i>
                     <span *ngIf="editMode"> Update </span><span *ngIf="!editMode"> Add User</span></button>
            </div>

            <div class="text-center mt-2" *ngIf="editMode && !deleteMode">
                <button type="submit" class="btn btn-danger shadow btn-lg" (click)="delete()"><i class="far fa-trash-alt"></i> Delete</button>
            </div>

            <button class="btn btn-primary" (click)="logIt()">log</button>

            

        </form>
    </div>
</div>