.menuLink {
    float: right;
    cursor: pointer;
}

.vehicleLink {
    float: right;
    cursor: pointer;
}

.passdownNote {
    background-color: #abd699;
    color: #abd699;
}

.cursor {
    cursor: pointer;
}