<div class="row m-3">
    <div class="col-md">
        <form [formGroup]="profileForm">




            <div class="form-group mb-2">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" formControlName="firstName">
            </div>

            <div class="form-group mb-2">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" formControlName="lastName">
            </div>

            <div class="form-group mb-2">
                <label for="nickname">Nickname</label>
                <input type="text" class="form-control" id="nickname" formControlName="nickname">
            </div>

            <div class="form-group mb-2">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" formControlName="phone">
            </div>


            <div class="text-center">
                <button type="submit" class="btn btn-primary shadow btn-lg"
                (click)="submit()"><i class="fas fa-paper-plane"></i> Submit</button>
            </div>


        </form>
    </div>
</div>