.float {
    float: right;
    
}

.active {
    background-color: #2ecd8a;
}

.oos {
    background-color: #cc0000;
}

.spare {
    background-color: orchid;
}

.pm {
    background-color: #fdfd96;
    color: black;
}

.flag {
    background-color: orange;
}

div div {
    max-width: 135px;
}

.cursor {
    cursor: pointer;
}