.oos {
    color:red !important;
}

.pm {
    color: grey !important;
}

.active {
    color: green !important;;
}

.flag {
    color: orange !important;;
}

.cursor {
    cursor: pointer !important;;
}