.list-group-item {
    font-size: medium;
    cursor: pointer;
}

.list-group-item a {
    text-decoration: none;
    cursor: pointer;
}

.list-group-item .active a {
    color: white;
    cursor: pointer;
}