<div class="row m-2">
    <div class="col-md">
        <ul class="list-group list-group-horizontal">
            <li class="nav-item list-group-item list-group-item-action" routerLinkActive="active" routerLink="/manage/user"><i class="fas fa-user"></i> User</li>
            <li class="list-group-item list-group-item-action" routerLinkActive="active" routerLink="/manage/route"><i class="fas fa-route"></i> Route</li>
            <li class="list-group-item list-group-item-action" routerLinkActive="active" routerLink="/manage/vehicle"><i class="fas fa-bus"></i> Vehicle</li>
        </ul>

        <router-outlet></router-outlet>
    </div>
</div>