<app-filter-bar (filterEvent)="filter($event)"
[totalActive]="getStatusCount('active')"
[totalFlag]="getStatusCount('flag')"
[totalOOS]="getStatusCount('oos')"
[totalPM]="getStatusCount('pm')"
[totalSpare]="getStatusCount('spare')"
(refreshDashboard)="refresh()"></app-filter-bar>


<div class="row m-2">
    <div class="col-md text-center">
        
            <app-vehicle-card *ngFor="let vehicles of shownVehicleList" [data]="vehicles" 
            [driverList]="driverList"
            [mini]="mini"
            ></app-vehicle-card>
        
    </div>
</div>